.chat-head-mini {
  width: 50px;
  height: 50px;
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.image-wrappper {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
}

.image-wrappper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.badges-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 23;
  position: absolute;
  width: 100%;
  top: -5px;
  left: 0;
}

.icon-wrapper {
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 3px;
}

.close-icon-mini {
  background-color: #161617;
  color: white;
}

.unread-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  padding: 0.6rem;
  margin-left: -6px;
  background: #ea2727;
  border: 3px solid black;
  color: black;
  text-align: center;
}
