.chat {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #242526;
  border: 3px solid #242425;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.chat-small {
  width: 50px;
  height: 50px;
}

.chat-head {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #161617;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Asap';
}

.chat-head-image-container {
  height: 25px;
  width: 25px;
  border-radius: 4px;
  overflow: hidden;
}

.logoAndTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messages-container {
  background-color: #242526;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: scroll;
}

.messages-container > :first-child {
  margin-top: 2rem;
}

form {
  display: flex;
  padding: 0.3rem;
}

form input {
  width: 100%;
  background-color: #495252;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  font-size: inherit;
}

form button {
  background-color: #242526;
  cursor: pointer;
  color: #cdfbfa;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 15px;
}

.icon-btn-wrapper {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff55;
  border-radius: 50px;
  cursor: pointer;
  background-color: #242526;
  border: none;
}

.chat-body-full {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  gap: 0.5rem;
}

h2 {
  white-space: nowrap;
}

h2::first-letter {
  text-transform: capitalize;
}

.chat-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 440px;
}

.hide-body {
  display: none;
}

.chat-full-screen {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.chat-head-full {
  cursor: default;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.9rem;
}

.empty-chat {
  color: white;
  text-align: center;
}

.unread-messages-badge {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  color: #ea3939;
  border-radius: 50px;
  cursor: pointer;
  background-color: #242526;
  border: none;
}

.message-to-replay {
  border-top: #495252 2px solid;
  color: white;
  display: flex;
  padding: 0.6rem;
  justify-content: space-between;
}

.replay-texts {
  width: 90%;
}

.replay-text {
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  margin-top: 0.2rem;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 756px) {
  .chat-head-full {
    padding: 1.4rem 0.5rem;
  }
  .chat {
    width: 350px;
  }
  .chat-full-screen {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
