.chat {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #242526;
  border: 3px solid #242425;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.chat-fullscreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.chat-header {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #161617;
  color: white;
  cursor: pointer;
}

.chat-header-fullscreen {
  cursor: default;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.9rem;
}

.logo-title-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.chat-header-image-wrapper {
  height: 25px;
  width: 25px;
  border-radius: 4px;
  overflow: hidden;
}

.chat-header-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-title-wrapper h2 {
  white-space: nowrap;
}

.chat-header-buttons-wrapper {
  display: flex;
  gap: 0.5rem;
}

.unread-messages-badge {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  color: #ea3939;
  border-radius: 50px;
  cursor: pointer;
  background-color: #242526;
  border: none;
}

.chat-header-icon-wrapper {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff55;
  border-radius: 50px;
  cursor: pointer;
  background-color: #242526;
  border: none;
}

.chat-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 440px;
}

.chat-body-fullscreen {
  height: 88vh;
}

.messages-container {
  background-color: #242526;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: auto;
}

.empty-chat-message {
  color: white;
  text-align: center;
}

form {
  display: flex;
  padding: 0.3rem;
}

form input {
  width: 100%;
  background-color: #495252;
  color: white;
  padding: 0.7rem;
  border-radius: 15px;
  border: none;
  font-size: inherit;
}

form input:focus {
  outline: unset;
}

form button {
  background-color: #242526;
  cursor: pointer;
  color: #cdfbfa;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 15px;
}

.message-to-replay {
  border-top: #495252 2px solid;
  color: white;
  display: flex;
  padding: 0.6rem;
  justify-content: space-between;
}

.replay-message-content {
  width: 90%;
}

.replay-message-text {
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  margin-top: 0.2rem;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 756px) {
  .chat {
    width: 350px;
  }
  .chat-header-fullscreen {
    padding: 1.4rem 0.5rem;
  }
  .chat-fullscreen {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
