.chat-head {
  width: 50px;
  height: 50px;
  margin: 0.45rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.badges-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: -5px;
  left: 0;
}

.close-icon-wrapper {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  right: 0;
  top: 3px;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  background-color: #161617;
  color: white;
  padding: 0.2rem;
  height: 100%;
}

.unread-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  padding: 0.6rem;
  margin-left: -6px;
  background: #ea2727;
  border: 3px solid black;
  color: black;
  text-align: center;
}

.logo-wrappper {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
}

@media only screen and (min-width: 756px) {
  .chat-head .close-icon-wrapper {
    visibility: hidden;
  }
  .chat-head:hover .close-icon-wrapper {
    visibility: visible;
  }
}
