.screen {
  display: flex;
  height: 100vh;
}

.active-chats-container {
  border: 3px solid #242425;
  width: 27vw;
  color: white;
  overflow: scroll;
}

.full-screen-chat-container {
  flex: 1;
}

.chat-body {
  flex: 1;
}

