.fullscreen {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.side-chats-container {
  border: 3px solid #242425;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 70px;
}

.fullscreen-chat-container {
  width: calc(100vw - 70px);
}

@media only screen and (min-width: 756px) {
  .side-chats-container {
    width: 27vw;
  }
}
