.screen {
  display: flex;
  height: 100vh;
}

.active-chats-container {
  border: 3px solid #242425;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.full-screen-chat-container {
  flex: 1;
}

.chat-body {
  flex: 1;
}

@media only screen and (min-width: 756px) {
  .active-chats-container {
    width: 27vw;
  }
}
