.chat-row-container {
  min-width: 90vw;
  margin-top: 1.6rem;
}

.chat-row-container h2 {
  color: white;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.chat-row-container h2::first-letter {
  text-transform: capitalize;
}

.chat-row-container button {
  font-size: 1.8rem;
  background-color: transparent;
  color: #666a6e;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.row-body {
  display: flex;
  justify-content: space-between;
}

.chats {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.chats::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.chat-row-container button:hover {
  transform: scale(1.15);
}

.logo-container {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}

.logo-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-container:hover {
  scale: 1.05;
}

@media only screen and (min-width: 756px) {
  .chat-row-container {
    margin: 3rem auto 0;
  }

  .chat-row-container h2 {
    margin: 1rem 4.5rem -0.7rem 4.7rem;
    font-size: 1.6rem;
  }

  .chats {
    padding: 1rem;
    gap: 15px;
  }

  .logo-container {
    height: 200px;
    width: 200px;
  }

  .chat-row-container button {
    font-size: 3rem;
    min-width: 3rem;
  }
}
