.container {
  padding: 5rem 2rem;
}

.active-chats-container {
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  height:0px;
  overflow:visible;
  justify-content: right;
  pointer-events: visible 
}

.active-chats-bottom {
  display: flex;
  align-items: flex-end;
  gap: 3px;
  pointer-events: visible; 
  height:0px;
  overflow:visible;
}

.active-chat-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-chats-full{
  display:flex;
  flex-direction: column;
  gap: 3px;
  position: fixed;
  top: 100px;
  left: 0;
}

.container-full{
  display: flex;
  flex-direction: row;
}

.chat-heads-container {
  animation: fadeIn 150ms ease-in backwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


