.container {
  padding: 5rem 2rem;
}

.chatRows{

}

.active-chats-container {
display: flex;
align-items: flex-start;
gap: 3px;
position: fixed;
bottom: 0;
right: 0;
max-width: 90%;
max-height: 500px;
flex-wrap: wrap-reverse;
justify-content: right;
}

.active-chats-full{
  display:flex;
  flex-direction: column;
  gap: 3px;
  position: fixed;
  top: 100px;
  left: 0;
}

.container-full{
  display: flex;
  flex-direction: row;
}

.chat-head-full {
  border-radius: 0;
}



