.message {
  display: flex;
  flex-wrap: wrap;
  padding: 0.02rem;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.sent {
  flex-direction: row-reverse;
}

.received {
}

.message:not(.same-sender) {
  margin-bottom: .5rem;
}

.same-sender .image-wrapper {
  visibility: hidden;
  pointer-events: none;
}

/* Recieved messages if they are sent in a row. */
.same-sender + .message:not(.same-sender) .text-wrapper {
  border-radius: 0.2rem 1rem 1rem 1rem;
}

.same-sender .text-wrapper {
  border-radius: 0.2rem 1rem 1rem 0.2rem;
}

.message:not(.same-sender) + .same-sender .text-wrapper {
  border-radius: 1rem 1rem 1rem 0.2rem;
}

/* Sent messages if they are sent in a row. */
.same-sender + .message:not(.same-sender).sent .text-wrapper {
  border-radius: 1rem 0.2rem 1rem 1rem;
}

.same-sender.sent .text-wrapper {
  border-radius: 1rem 0.2rem 0.2rem 1rem;
}

.message:not(.same-sender) + .same-sender.sent .text-wrapper {
  border-radius: 1rem 1rem 0.2rem 1rem;
}

.user-name {
  background-color: #161617;
  color: #bcb9b9;
  border: 1px solid #bcb9b9;
  padding: 0.35rem 0.5rem;
  border-radius: 15px;
  display: none;
  order: 1;
}

.received .image-wrapper:hover + .user-name {
  position: absolute;
  bottom: 100%;
  z-index: 100;
  left: 0;
  display: block;
}

/* .sent .image-wrapper:hover + .user-name {
  position: absolute;
  bottom: 100%;
  z-index: 100;
  right: 0;
  display: block;
} */

.image-wrapper {
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 15px;
  overflow: hidden;
  align-self: flex-start;
  padding: 0.2rem;
  cursor: pointer;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mess-div {
  max-width: 70%;
}

.replay-wrapper {
  text-align: right;
  word-break: break-word;
  background-color: #383939;
  color: #fff;
  border-radius: 1rem;
  margin-bottom: -1rem;
  padding: 0.5rem;
  padding-bottom: 1.1rem;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  display: none;
}

.message:hover .icon {
  display: block;
}

.text-wrapper {
  text-align: left;
  word-break: break-word;
  background-color: #495252;
  color: #fff;
  border-radius: 15px;
  padding: 0.7rem;
}

.text-wrapper a {
  color: white;
}

.replay-wrapper p:first-child {
  font-size: 0.9rem;
  font-style: italic;
}

.replay-wrapper p:last-child {
  font-size: 0.9rem;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  margin-top: 0.2rem;
  text-overflow: ellipsis;
}
