.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-img-wrapper {
  width: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}

.profile-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-card span {
  color: white;
  font-size: 2rem;
}

.img-and-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-uploader {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: -1.5rem;
  border: 3px solid black;
}

.img-uploader input {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.iconsss {
  height: 100%;
  width: 100%;
  object-fit: contain;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  pointer-events: none;
}

.status {
  max-width: 300px;
}
