.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: white;
}

.profile-img-wrapper {
  width: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
}

.profile-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-and-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-uploader {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: -1.5rem;
  border: 3px solid black;
}

.img-uploader input {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.upload-icon {
  height: 100%;
  width: 100%;
  padding: 3px;
  object-fit: contain;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  pointer-events: none;
}

.status {
  color: white;
  font-size: 1rem;
  max-width: 300px;
}

.user-card input[type='text'] {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
}

.user-card input[type='text']:disabled {
  display: flex;
  text-align: center;
  border: none;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.buttons-wrapper button {
  padding: 0.5rem 1rem;
  background-color: rgb(24, 23, 23);
  font-size: 1rem;
  border-radius: 5px;
  border: black;
  color: white;
  cursor: pointer;
}

.buttons-wrapper button:hover {
  background-color: rgb(36, 35, 35);
}
