.reset-password-form {
  font-size: 1.1rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
  max-width: 450px;
}

.reset-password-form h1 {
  margin-bottom: 3rem;
}

.reset-password-form p {
  max-width: 400px;
  text-align: center;
  margin: 3rem 0;
}

.reset-password-form input {
  font-size: 1.1rem;
  width: 100%;
  background-color: #495252;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  border: none;
}

.reset-password-form button[type='submit'] {
  padding: 0.7rem 2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  background-color: #252625;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  width: 100%;
  margin: 2rem 0 .5rem 0;
}

.reset-password-form .back-btn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
