header {
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #242526 solid 3px;
  padding: 0 0.8rem;
  top: 0;
  color: white;
  z-index: 10;
}

header a {
  color: white;
  text-decoration: none;
  top: 12px;
}

.sign-btn {
  background-color: #212324;
  border: none;
  padding: 0.6rem;
  border-radius: 15px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}

.sign-btn:hover,
.sign-btn:active {
  background-color: #495252;
}

.image-wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.drop-menu {
  position: relative;
}

.drop-menu ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  top: 100%;
  color: white;
  background-color: #242526;
  right: 0;
  text-decoration: none;
  list-style: none;
  min-width: 200px;
  border-radius: 20px;
  border: #484a4d 2px solid;
  padding: 1rem;
}

.drop-menu li {
  padding: 1rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.drop-menu li button {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 756px) {
  header {
    padding: 0 2rem;
    height: 5rem;
  }
  .sign-btn {
    padding: 1rem;
  }
}
