header {
  position: fixed;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #242526 solid 3px;
  padding: 0.4rem 0.3rem;
  top: 0;
  color: white;
  z-index: 10;
  background-color: #141414;
}

.light-mode {
  border-bottom: #9da0a3 solid 3px;
  background-color: #dbd6d6;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 45%;
}

.input-wrapper svg {
  position: absolute;
  top: 27%;
  right: 5%;
  height: 0.8rem;
  cursor: pointer;
}

.input-wrapper input {
  display: flex;
  height: 1.5rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 50px;
  padding: 0.9rem;
  background-color: #242526;
  font-size: 1rem;
  max-width: 100%;
}

.light-mode .input-wrapper input {
  border: 2px solid gray;
  background-color: #dbd6d6;
  color: black;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
  height: auto;
  max-height: 2.8rem;
  overflow: hidden;
}

/* TODO: MAKE LOGO FOR LIGHT MODE !! */
.header-logo-wrapper img {
  object-fit: contain;
}

.sign-btn {
  background-color: #212324;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.4rem;
  color: #ffffff;
  cursor: pointer;
}

.sign-btn:hover,
.sign-btn:active {
  background-color: #495252;
}

.profile-image-wrapper {
  height: 25px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  margin-left: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.drop-menu {
  position: relative;
}

.drop-menu ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  top: 100%;
  color: white;
  background-color: #242526;
  right: 0;
  text-decoration: none;
  list-style: none;
  min-width: 250px;
  border-radius: 20px;
  border: #484a4d 2px solid;
  padding: 1rem;
}

.light-mode .drop-menu ul {
  background-color: #dbd6d6;
}

.drop-menu li {
  padding: 1rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
}

.light-mode .drop-menu li {
  color: black;
}

.drop-menu li button {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  border: none;
  font-weight: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.drop-menu li div {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.drop-menu li label {
  display: block;
}

.drop-menu svg {
  height: 1.3rem;
}

.light-mode .drop-menu svg {
  /* fill: black; */
}

@media only screen and (min-width: 756px) {
  header {
    padding: 0.5rem 1rem;
    height: auto;
  }

  .header-logo-wrapper {
    width: auto;
    max-height: none;
  }

  .header-logo-wrapper img {
    height: 3.5rem;
  }

  .sign-btn {
    font-size: 1rem;
    padding: 0.8rem;
  }

  header .input-wrapper {
    height: 1.5rem;
    margin-right: auto;
    margin-left: 2rem;
  }

  header .input-wrapper input {
    padding: 1.2rem 2rem;
    font-size: 1.1rem;
  }
  header .input-wrapper svg {
    top: 18%;
    height: 1.1rem;
  }

  .profile-image-wrapper {
    height: 45px;
  }
}
