.image-preview {
  height: 85vh;
  width: 85vw;
  background-color: transparent;
}

.image-preview-wrapper {
  height: 95%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.image-preview-wrapper img {
  height: initial;
  width: initial;
  object-fit: contain;
}
