.image-preview {
  height: 85vh;
  width: 85vw;
  background-color: transparent;
}

.image-preview-wrapper {
  height: 95%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
