.dark {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: #000001be;
}

.modal {
  position: absolute;
  top: 26%;
  left: 33%;
  background: #161617;
  border-radius: 15px;
  padding: 2rem;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
}

.modal h2 {
  margin: 2rem 0;
  color: #7d8282;
}

.modal button {
  background-color: #212324;
  border: none;
  text-align: center;
  margin: .7rem;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Asap';
}

.actions {
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.logo-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
