.reactions-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.total-users {
  display: flex;
}

.reactions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reaction-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: space-between;
}

.reaction-wrapper svg {
  height: 30px;
  width: 30px;
}
