.icon-wrapper {
  display: flex;
  background-color: #242526;
  border: 3px solid #242425;
  border-radius: 1rem;
  overflow: hidden;
  margin: 3px;
  cursor: pointer;
}

.icon-wrapper svg {
  background-color: #161617;
  padding: 0.5rem;
  height: 50px;
}
